 <div class="col-lg-8 container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">{{title}} <small class="nick" *ngIf="identity">{{identity.nick}}</small> </h1>
          <h2 class="display-6">The best social network of this era!</h2>
         <small>Better than the shit that some people call "PlusTalk"</small>
         <hr class="my-4">
         <p class="lead">
           <a href="#" class="btn btn-success btn-lg" role="button" >Mi perfil</a>
          </p>
          <p class="lead" >
              <a href="#" class="btn btn-primary btn-lg" role="button" >TimeLine</a>
          </p>
           <p class="lead" >
              <a href="#" class="btn btn-secondary btn-lg" role="button" >Gente</a>
           </p>
           
         
        </div>
      </div>
 </div>
 