
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark ">
        <div class="text-center">
            <a href="#" class="navbar-brand" >{{title}}</a>
        </div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" href="#"> <i class="fa fa-home"></i> Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> <i class="fas fa-list-ul"></i> Timeline</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" > <i class="fas fa-users"></i> Gente</a>
            </li>
          </ul>
    </nav>



