

/*GENERALES*/



/**/

a {
     color: white;
}


.black  {
    text-decoration: none;
    color: black;
}

.dropdown-alter {
    padding-left: 1200px;
    font-size: 20px;
    color: white;
}


.router {
    margin-bottom: 30%;
}



