<div class="card alter" style="width: 35rem;">
    <div class="card-header text-center">
        <h3>{{title}}</h3>
    </div>

    <div class="card-body">
        <div class="alert alert-success" *ngIf="status == 'success'">Datos actualizados correctamente </div>

        <div class="alert alert-danger" *ngIf="status == 'error'"> <strong> Upss</strong> Ha ocurrido un error al actualzar tus datos, intentalo de nuevo </div>
        <form ngNativeValidate #actualizarForm="ngForm" (ngSubmit)="onSubmit(actualizarForm)" class="col-lg-12">
          <p>
            <label> Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required>
            <span *ngIf="!name.valid && name.touched" class="text-danger">El nombre es obligatorio</span>
          </p>
          <br>
          <p>
              <label> Apellido</label>
              <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required>
              <span *ngIf="!surname.valid && surname.touched" class="text-danger">El apellido es obligatorio</span>
            </p>
            <br>
            <p>
                <label> Apodo</label>
                <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required>
                <span *ngIf="!nick.valid && nick.touched" class="text-danger">El apodo es obligatorio</span>
              </p>
              <br>
              <p>
                  <label> Correo electrónico</label>
                  <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                  <span *ngIf="!email.valid && email.touched" class="text-danger">El correo no es válido</span>
                </p>
                <br>
                <p>
                  <label> Sube tu imagen de perfil</label>
                  <input type="file" placeholder="Subir imagen">
                </p>
                <br>
                <br>
                <input type="submit" value="Actualizar" class="btn btn-info btn-m" [disabled]="!actualizarForm.form.valid">
        </form>
      
    </div>
  </div>
