/* You can add global styles to this file, and also import other style files */
.h1-strong {
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-top: 50px;
}

.active {
    border-bottom: 2px solid white;
}

p {
    display: inline;
    padding-left: 8px;
}

.container {
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.alter {
 margin: 35px auto;

}

.btn-m {
    margin-top: 5px;
}

/*body {
     background-image: url(./assets/imagenes/10.jpg);
        /* Full height */
        /* height: 100%;  */

        /* Center and scale the image nicely */
        /* background-position: center;
        background-repeat: no-repeat;
        background-size: cover; */







/**/
